$normal-blue : #4DA1FF!default;
$light-blue : #DFEDFE!default;
$normal-yellow : #FFCD31!default;
$light-yellow : #FFF3E1!default;
$normal-red : #fd5a70!default;
$light-red : #fff6f7!default;
$normal-green : #83D587!default;
$normal-violet : #9587F1!default;
$line-color : rgb(231, 231, 231)!default;
$text-normal : #666!default;
$text-dark: rgb(61, 61, 61)!default;
$background-color:#fff!default; 
