$normal-blue : #4DA1FF;
$light-blue : #DFEDFE;
$normal-yellow : #FFCD31;
$light-yellow : #FFF3E1;
$normal-red : #FF7B8C;
$light-red : #FFE7E9;
$normal-green : #83D587;
$normal-violet : #9587F1;
$line-color : rgb(231, 231, 231);
$text-normal : #666;
$text-dark: rgb(61, 61, 61);